/* ---------------- RESET ---------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------------- BODY ---------------- */

body {
    background: #111;
    font-family: Georgia, serif;
    color: #222;
}

/* ---------------- MAIN LAYOUT ---------------- */

.container {
    background: #efefef;

    min-height: 100vh;

    display: grid;

    grid-template-columns:
        220px
        1fr;   /* ONLY TWO COLUMNS NOW */

    gap: 40px;

    padding: 24px;
}

/* ---------------- SIDEBAR ---------------- */

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar h1 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 30px;
}

.project-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.project-links a {
    color: #222;
    text-decoration: none;
    font-size: 16px;
}

.project-links a:hover {
    opacity: 0.6;
}

/* ---------------- CONTACT ---------------- */

.contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact a {
    color: #222;
    text-decoration: none;
    font-size: 16px;
}

.contact a:hover {
    opacity: 0.6;
}

/* ---------------- VIEWER (RIGHT SIDE) ---------------- */


.landing {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.landing {
    color: #222;
    text-decoration: none;
    font-size: 20px;
}

.landing a:hover {
    opacity: 0.6;
}

/* ---------------- CONTACT ---------------- */

.viewer {
    height: 100vh;
    overflow-y: auto;
    padding-right: 20px;
}

/* ---------------- PROJECT CONTENT ---------------- */

.project {
    display: none;
}

.project.active {
    display: block;
}

.project h2 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

.project p {
    line-height: 1.6;
    margin-bottom: 25px;
}

.project img {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

/* ---------------- SCROLLBAR ---------------- */

.viewer::-webkit-scrollbar {
    width: 8px;
}

.viewer::-webkit-scrollbar-thumb {
    background: #bbb;
}

/* ---------------- MOBILE ---------------- */

@media (max-width: 900px) {

    .container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .viewer {
        height: auto;
    }
}

.media-block {
    margin-bottom: 30px;
}

.media-block img {
    width: 50%;
    display: block;
    margin: 0 0 8px 0;
}

.caption {
    font-size: 14px;
    line-height: 1.4;
    color: #444;
    margin-bottom: 10px;
}

.project {
    display: none;
    padding-bottom: 60px;
}

.project.active {
    display: block;
}

.project-link {
    color: #222;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.2s ease;
}

/* ACTIVE STATE */
.project-link.active-link {
    color: red;
}